#!/usr/bin/make -f
export PYBUILD_NAME=arsoft-web-filewatch
PYTHON3=$(shell py3versions -vr)

# Don't compress .py files
DEB_COMPRESS_EXCLUDE := .py

%:
	dh $@ --with=python3 --buildsystem=pybuild

override_dh_clean:
	dh_clean -O--buildsystem=pybuild
	rm data/* || true

override_dh_auto_install:
	dh_auto_install -O--buildsystem=pybuild
	install -o www-data -g www-data -m 0750 -d $(CURDIR)/debian/arsoft-web-filewatch/var/lib/arsoft/web/filewatch
	install -m 0755 -d $(CURDIR)/debian/arsoft-web-filewatch/etc/arsoft/web/filewatch/static
	ln -s /usr/lib/python3/dist-packages/django/contrib/admin/static/admin $(CURDIR)/debian/arsoft-web-filewatch/etc/arsoft/web/filewatch/static/admin
